<div class="modal-header">
            <h5 class="modal-title">{{ post.username }}'s Post</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
          </div>
          <div class="modal-body">
            <p>{{ post.content }}</p>
            <div *ngIf="post.hasMedia && post.media && post.media.length > 0">
              <div *ngFor="let media of post.media">
                <img *ngIf="isImage(media.mediaUrl!)" [src]="media.mediaUrl!" alt="Post image" class="img-fluid rounded">
                <video *ngIf="isVideo(media.mediaUrl!)" controls class="img-fluid rounded">
                  <source [src]="media.mediaUrl!" type="video/mp4">
                  Your browser does not support HTML video.
                </video>
              </div>
            </div>
            <div *ngIf="post.comments && post.comments.length > 0">
              <h6>Comments</h6>
              <div *ngFor="let comment of post.comments">
                <p><strong>{{ comment.username }}:</strong> {{ comment.content }}</p>
              </div>
            </div>
          </div>
