

<!--add post-->
<div class="post-container">
  <div class="profile">
    <img [src]="profileImage" alt="Profile Image" class="profile-pic" />
    <input type="text" placeholder="Quoi de neuf, Iyed ?" (click)="openPostModal()" readonly />
  </div>
</div>

<!-- Modal -->
<div  class="modal-dialog modal-dialog-centered modal-lg"
      class="modal fade"
      [ngClass]="{ show: isModalOpen }"
      [ngStyle]="{ display: isModalOpen ? 'block' : 'none' }"
      tabindex="-1"
      aria-modal="true"
      role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header px-4 pt-4">
        <h5 class="modal-title">Créer une publication</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closePostModal()"></button>
      </div>
      <div class="modal-body p-4">
        <div class="chat-input-section p-3 p-lg-4 border-top border-2">

          <form id="chatinput-form" enctype="multipart/form-data">
            <div class="row g-0 align-items-center">
              <div class="col-auto">
                <div class="chat-input-links me-2">
                  <div class="links-list-item">
                    <button type="button" class="btn btn-link text-decoration-none emoji-btn" (click)="toggleEmojiPicker()" id="emoji-btn">
                      <i class="bx bx-smile align-middle"></i>
                    </button>
                    <!-- Afficher le sélecteur d'emoji sous l'icône si activé -->
                    <div *ngIf="showEmojiPicker" class="emoji-picker-container">
                      <emoji-mart class="emoji-mart" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div *ngIf="submitted1 && form['message'].errors" class="chat-input-feedback">
                  <span *ngIf="form['message'].errors['required']">Please Enter a Message</span>
                </div>
                <textarea class="form-control"
                          [(ngModel)]="postContent"
                          name="postContent"
                          rows="3"
                          (blur)="onBlur()"
                          (focus)="onFocus()"
                          id="chat-input"
                          placeholder="Quoi de neuf, Iyed ?"
                          autocomplete="off"></textarea>
              </div>

              <div class="col-auto">
                <div class="chat-input-links ms-2"></div>
              </div>
            </div>
          </form>
        </div>

        <div class="add-options mt-3 d-flex align-items-center">
          <span class="options-label">Ajouter à votre publication</span>
          <button class="btn btn-outline-secondary ml-3 custom-btn" (click)="addPhoto()">
            <i class="bi bi-image-fill custom-icon"></i>
            <span class="custom-text">Photo/Video</span>
          </button>
        </div>

        <div *ngIf="showFileUpload" class="mt-3">
          <label class="form-label">Product Images</label>
          <ngx-dropzone (change)="onSelect($event)" [multiple]="true">
            <ngx-dropzone-label>Drop files here or click to upload.</ngx-dropzone-label>
          </ngx-dropzone>

          <ul class="list-unstyled mb-0" *ngIf="uploadedFiles.length > 0">
            <li *ngFor="let file of uploadedFiles; let i = index" class="mt-2">
              <div class="border rounded">
                <div class="d-flex p-2">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar-sm bg-light rounded p-2">
                      <img class="img-fluid rounded d-block" [src]="file.objectURL" alt="Dropzone-Image" />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <div class="pt-1">
                      <h5 class="fs-md mb-1">{{ file.name }}</h5>
                      <p class="fs-sm text-muted mb-0">{{ (file.size / 1024).toFixed(2) }} KB</p>
                    </div>
                  </div>
                  <div class="flex-shrink-0 ms-3">
                    <button (click)="removeFile(file)" class="btn btn-sm btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer px-4 pb-4">
        <button type="button" class="btn btn-primary" (click)="publishPost()">Publier</button>
      </div>
    </div>
  </div>
</div>

<!--end post-->
<!-- Start Breadcrumbs -->

<app-breadcrumbs title="Overview" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card">
  <div class="row g-0">
    <div class="col-xl-9 col-lg-8">
      <div class="card-body border-end h-100">
        <div class="row mb-4 pb-2 g-3">
          <div class="col-auto">
            <div class="avatar-sm">
              <div class="avatar-title bg-success-subtle rounded">
                <img src="assets/images/companies/img-3.png" alt="" class="avatar-xs">
              </div>
            </div>
          </div>
          <div class="col-md order-3 order-md-2">
            <div>
              <h5>#TBS24301901 - Forgetting to start a component name with a capital letter</h5>
              <div class="hstack gap-2 gap-md-3 flex-wrap">
                <div class="text-muted"><i class="ri-building-line align-bottom me-1"></i><span id="ticket-client">Themesbrand</span></div>
                <div class="vr"></div>
                <div class="text-muted">Create Date : <span class="fw-medium " id="create-date">20 Dec,
                                        2023</span></div>
                <div class="vr"></div>
                <div class="text-muted">Due Date : <span class="fw-medium" id="due-date">29 Dec,
                                        2023</span></div>
                <div class="vr"></div>
                <div class="badge rounded-pill bg-info fs-12" id="ticket-status">New</div>
                <div class="badge rounded-pill bg-danger fs-12" id="ticket-priority">High</div>
              </div>
            </div>
          </div>
          <div class="col-auto ms-auto order-2 order-md-3">
            <a routerLink="/tickets/list" class="btn btn-primary btn-sm"> Add Ticket</a>
          </div>
        </div>
<h6 class="fw-semibold text-uppercase mb-2">Ticket Descriptions</h6>
          <p class="text-muted mb-4">
            <span *ngIf="!showFullDescription">
              It's used for building interactive user interfaces and web applications quickly and efficiently...
              <a href="javascript:void(0);" (click)="showFullDescription = true">Read more</a>
            </span>
            <span *ngIf="showFullDescription">
              It's used for building interactive user interfaces and web applications
              quickly and efficiently with significantly less code than you would with vanilla JavaScript. In
              React, you develop your applications by creating reusable components that you can think of as
              independent Lego blocks. React is a JavaScript library developed by Facebook which, among other
              things, was used to build Instagram.com. Its aim is to allow developers to easily create fast user
              interfaces for websites and applications alike. The main concept of React. js is virtual DOM. If you
              need a fast and responsive user interface, ReactJS is the better option. But if you need to handle
              complex data analysis or number-crunching.
            </span>
          </p>

        <h6 class="fw-semibold text-uppercase mb-4">Discussion with Themesbrand</h6>
          <div class="d-flex mb-4">
            <div class="flex-shrink-0">
              <img src="assets/images/users/avatar-8.jpg" alt="" class="avatar-xs rounded-circle">
            </div>
            <div class="flex-grow-1 ms-3">
              <h6>Joseph Parker <small class="text-muted">20 Dec 2023 - 05:47AM</small></h6>
              <p class="text-muted">I am getting message from customers that when they place order always
                get error message .</p>
              <a href="javascript: void(0);" class="badge text-muted bg-light"><i class="mdi mdi-reply"></i> Reply</a>
              <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                  <img src="assets/images/users/avatar-10.jpg" alt="" class="avatar-xs rounded-circle">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6>Alexis Clarke <small class="text-muted">22 Dec 2023 - 02:32PM</small></h6>
                  <p class="text-muted">Please be sure to check your Spam mailbox to see if your email
                    filters have identified the email from Dell as spam.</p>
                  <a href="javascript: void(0);" class="badge text-muted bg-light"><i class="mdi mdi-reply"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>

        <form action="javascript:void(0);" class="mt-3">
          <div class="row g-3">
            <div class="col-lg-12">
              <label for="exampleFormControlTextarea1" class="form-label">Leave a Comments</label>
              <textarea class="form-control bg-light border-light" id="exampleFormControlTextarea1" rows="3" placeholder="Enter comments"></textarea>
            </div>
            <div class="col-lg-12 text-end">
              <a href="javascript:void(0);" class="btn btn-success">Post Comments</a>
            </div>
          </div>
        </form>
      </div>
    </div><!--end col-->
    <div class="col-xl-3 col-lg-4">
      <div class="card-header">
        <h6 class="card-title mb-0">Ticket Details</h6>
      </div>
      <div class="card-body mt-2">
        <div class="table-responsive table-card">
          <table class="table table-borderless align-middle mb-0">
            <tbody>
            <tr>
              <th>Ticket No</th>
              <td>#TBS<span id="t-no">24301901</span> </td>
            </tr>
            <tr>
              <th>Client</th>
              <td id="t-client">Themesbrand</td>
            </tr>
            <tr>
              <th>Project</th>
              <td>Steex - Admin & Dashboard</td>
            </tr>
            <tr>
              <th>Assigned To:</th>
              <td>
                <div class="avatar-group">
                  <a href="javascript:void(0);" class="avatar-group-item" placement="top" tooltip="Erica Kernan">
                    <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-xs">
                  </a>
                  <a href="javascript:void(0);" class="avatar-group-item" placement="top" tooltip="Alexis Clarke">
                    <img src="assets/images/users/avatar-10.jpg" alt="" class="rounded-circle avatar-xs">
                  </a>
                  <a href="javascript:void(0);" class="avatar-group-item" placement="top" tooltip="James Price">
                    <img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle avatar-xs">
                  </a>
                  <a href="javascript: void(0);" class="avatar-group-item" placement="top" tooltip="Add Members">
                    <div class="avatar-xs">
                      <div class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                        +
                      </div>
                    </div>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <th>Status:</th>
              <td>
                <select class="form-select" id="t-status" data-choices data-choices-search-false aria-label="Default select example">
                  <option value>Status</option>
                  <option value="New" selected>New</option>
                  <option value="Open">Open</option>
                  <option value="Inprogress">Inprogress</option>
                  <option value="Closed">Closed</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>Priority</th>
              <td>
                <span class="badge bg-danger" id="t-priority">High</span>
              </td>
            </tr>
            <tr>
              <th>Create Date</th>
              <td id="c-date">20 Dec, 2023</td>
            </tr>
            <tr>
              <th>Due Date</th>
              <td id="d-date">29 Dec, 2023</td>
            </tr>
            <tr>
              <th>Last Activity</th>
              <td>14 min ago</td>
            </tr>
            <tr>
              <th>Labels</th>
              <td class="hstack text-wrap gap-1">
                <span class="badge bg-primary-subtle text-primary">Admin</span>
                <span class="badge bg-primary-subtle text-primary">UI</span>
                <span class="badge bg-primary-subtle text-primary">Dashboard</span>
                <span class="badge bg-primary-subtle text-primary">Design</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><!--end card-body-->
      <div class="card-body border-top mt-2">
        <a href="javascript:void(0);" class="float-end link-effect">View More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
        <h6 class="card-title mb-0">Support Team</h6>
      </div>
      <div class="card-body">
        <div class="d-flex gap-2 align-items-center mb-3">
          <div class="flex-shrink-0">
            <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-sm rounded">
          </div>
          <div class="flex-grow-1">
            <h6 class="fs-md">Morton Satterfield</h6>
            <p class="text-muted mb-0">Admin & Founder</p>
          </div>
        </div>
        <button class="btn btn-secondary w-100" id="agent-chat"><i class="bi bi-chat-text align-baseline me-1"></i> Get In Touch</button>
      </div>
    </div>
  </div><!--end row-->
</div>
